@import url('https://fonts.googleapis.com/css?family=Coiny');

body { margin: 0; background: #D8EEF0; }
header { 
  padding: .5vw; 
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}

.cloud-text {
	font-family: 'Coiny', cursive;
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;	
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/clouds.jpg);
/* 	background-size: auto; */
/* 	background-attachment: unset;
  background-position: 0%;
	width: 50%; */
  font-size: 80px;
	animation: clouds-moving infinite 220s;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-timing-function: linear;
	
}

@keyframes clouds-moving {
	0% {
		background-position: 0%;	
	}
	50% {
		background-position: 100%;	
	}
	100% {
		background-position: 0%;
	}
}



header div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
}

header div img { 
  max-width: 100%; 
  max-height: auto; 

}

img {
    height:100%;
    width:100%;
}




@media screen and (max-width: 320px) {
  header div { margin: 0; }
  header { padding: 0; }
  
}